html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e313f;
}

button {
  width: 242px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.ear-left-outer, .ear-right-outer {fill:#919191;}
.ear-left-inner, .ear-right-inner {fill:#6D6D6D;}
.eye-right-outer, .eye-left-outer, .nostril-right-outer, .nostril-left-outer, .body {fill:#AAAAAA;}
.eye-right-inner, .eye-left-inner {fill:#FFFFFF;}
.nostril-right-inner, .nostril-left-inner{fill:#8C8C8C;}
.freckle {fill:#7C7C7C;}
.tongue {fill:#FF4848;}
.tooth-left, .tooth-right {fill:#FFFFE1;}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #ffffe3;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid #335067;
  padding: 10px 14px;
  border-radius: 4px;
  transition: background 0.2s;
}

.link:hover {
  background: #243a4a;
}

/*  */

.input-box{
    width:122px;
    height:50px;
    margin:60px 215px;
    font-size:20px;
    text-align:center;
    color:#6e48aa;
    border:2px solid black;
}

.guess-btn{
    width:173px;
    height:50px;
    border-radius:5px;
    background-color: #83799d;
    margin:-200px 195px;
    color:white;
    font-size:15px;
}

.guess-btn:hover{
    cursor:pointer;
    opacity: 90%;
    transition:1s;
}

.header-text1, .header-text2{
    text-align:center;
    font-family: Tahoma, sans-serif;
}

.header-text2{
    margin:-20px;
}

.container{
    width:590px;
    height:528px;
    background-color:white;
    margin:0px auto;
    border: 3px solid black;
    border-radius:10px;
}

.text-1, .text-2, .text-3,.text-4,.text-5 ,.text-6 ,.text-7 ,.text-8{
    text-align:center;
    font-size:12px;
    font-family: Tahoma, sans-serif;
}
.winner{
    text-align:center;
    align-items: center;
    display: table-caption;    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #3d2f3d;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }